@model About
@*
    Default Resume Component
*@

<section id="resume" class="resume section">

    <div class="container section-title" data-aos="fade-up">
        <h2>Özgeçmiş</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Bilgi</h3>
                <div class="resume-item pb-0">
                    <h4>@ViewBag.fullName</h4>
                    <p><em>@Model.Title</em></p>
                    <ul>
                        <li>@Model.City</li>
                        <li>@Model.PhoneNumber</li>
                        <li>@Model.Email</li>
                    </ul>
                </div>
                @await Component.InvokeAsync("_DefaultEducationComponent")
            </div>
            @await Component.InvokeAsync("_DefaultExperienceComponent")
        </div>
    </div>

</section>
